In [1]:
import pandas as pd
import numpy as np

In [2]:
# Set print options
np.set_printoptions(suppress=True, precision=4, edgeitems = 7)
pd.options.display.float_format = '{:.4f}'.format
pd.set_option('display.max_columns', None)

In [3]:
# Read data
df = pd.read_csv("./InputData/historical_data.csv")
df.dtypes

market_id                                       float64
created_at                                       object
actual_delivery_time                             object
store_id                                          int64
store_primary_category                           object
order_protocol                                  float64
total_items                                       int64
subtotal                                          int64
num_distinct_items                                int64
min_item_price                                    int64
max_item_price                                    int64
total_onshift_dashers                           float64
total_busy_dashers                              float64
total_outstanding_orders                        float64
estimated_order_place_duration                    int64
estimated_store_to_consumer_driving_duration    float64
dtype: object

In [4]:
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0000,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0000,4,3441,4,557,1239,33.0000,14.0000,21.0000,446,861.0000
1,2.0000,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0000,1,1900,1,1400,1400,1.0000,2.0000,2.0000,446,690.0000
2,3.0000,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0000,1,1900,1,1900,1900,1.0000,0.0000,0.0000,446,690.0000
3,3.0000,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0000,6,6900,5,600,1800,1.0000,1.0000,2.0000,446,289.0000
4,3.0000,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0000,3,3900,3,1100,1600,6.0000,6.0000,9.0000,446,650.0000

- market_id: City / region
- order_protocol: The channel from which the order was received
- subtotal, min, max price: In cents.
- total_onshift_dashers: Number of Dashers within 10 miles of the order at creation
- total_busy_dashers: Subset of the above which are currently working on another order
- total_outstanding_orders: Number of orders being processed within 10 miles
- estimated_order_place_duration: Estimated time it took for the restaurant to receive the order from DoorDash (in seconds)
- estimated_store_to_consumer_driving_duration: In seconds.

In [6]:
df.describe()

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
count,196441.0000,197428.0000,196433.0000,197428.0000,197428.0000,197428.0000,197428.0000,197428.0000,181166.0000,181166.0000,181166.0000,197428.0000,196902.0000
mean,2.9787,3530.5103,2.8824,3.1964,2682.3314,2.6708,686.2185,1159.5886,44.8081,41.7397,58.0501,308.5602,545.3589
std,1.5249,2053.4967,1.5038,2.6665,1823.0937,1.6303,522.0386,558.4114,34.5268,32.1457,52.6618,90.1397,219.3529
min,1.0000,1.0000,1.0000,1.0000,0.0000,1.0000,-86.0000,0.0000,-4.0000,-5.0000,-6.0000,0.0000,0.0000
25%,2.0000,1686.0000,1.0000,2.0000,1400.0000,1.0000,299.0000,800.0000,17.0000,15.0000,17.0000,251.0000,382.0000
50%,3.0000,3592.0000,3.0000,3.0000,2200.0000,2.0000,595.0000,1095.0000,37.0000,34.0000,41.0000,251.0000,544.0000
75%,4.0000,5299.0000,4.0000,4.0000,3395.0000,3.0000,949.0000,1395.0000,65.0000,62.0000,85.0000,446.0000,702.0000
max,6.0000,6987.0000,7.0000,411.0000,27100.0000,20.0000,14700.0000,14700.0000,171.0000,154.0000,285.0000,2715.0000,2088.0000

- 197.428 rows
- Rows with zero subtotal?
- Rows with zero / negative min-max price?
- Rows with negative Dashers / outstanding orders?
- Rows with zero estimated order placement & trip duration?

In [5]:
# Check missing values
pd.isnull(df).sum()

market_id                                         987
created_at                                          0
actual_delivery_time                                7
store_id                                            0
store_primary_category                           4760
order_protocol                                    995
total_items                                         0
subtotal                                            0
num_distinct_items                                  0
min_item_price                                      0
max_item_price                                      0
total_onshift_dashers                           16262
total_busy_dashers                              16262
total_outstanding_orders                        16262
estimated_order_place_duration                      0
estimated_store_to_consumer_driving_duration      526
dtype: int64

- Drop all rows with missing values for sake of simplicity
- Drop rows with nonsensical / possibly false information (see above)
- Calculate target column: Delivery time in seconds
- Add features: Seasonal, number & proportion of non-busy dashers & interaction with outstanding orders...
- Convert datatypes: Categorical vs numeric
- Save full data
- Drop non-feature columns, save training data